include ../mixins/jinja
include ../mixins/vars
doctype html
html(lang="uk", class='no-js no-svg')
  head
    meta(charset=exp('site.charset'))
    meta(name='description', content=exp('site.description'))
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv= "X-UA-Compatible", content= "IE=Edge")
    meta(name= "viewport", content= "initial-scale= 1.0, width= device-width, user-scalable=no")
    meta(name= "format-detection", content="telephone=no")
    link(href= "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900", rel= "stylesheet")
    link(rel='stylesheet', href=exp('site.app')+'/css/style.css', type='text/css', media='screen')
    link(rel= "icon", type="image/x-icon", href!=exp('site.app')+'/img/favicon.ico')
    link(rel='pingback', href=exp('site.pingback_url'))
    link(rel='profile', href='http://gmpg.org/xfn/11')
    //+exp function('wp_head')

  body.body
    +bl('header')
      +inc 'header.twig'
    +bl('main')
    +bl('footer')
      +inc 'footer.twig'
    .wrapper.is-blur.js-close
    .js-ajax-popup
      .popup
        .popup__video
        .popup__content
          .heading.heading--small Дякуємо!
          .subtitle У найближчий час ми з Вами зв'яжемось.
        .close.js-close
          i.icon-close
        
  block scripts
    script(src=exp('site.app')+'/js/vendor.js')
    script(src=exp('site.app')+'/js/main.js')
